RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

ServerSignature Off
SetEnv TZ Europe/Amsterdam
php_flag apc.cache_by_default Off